.dayDetails {
    background: #0037ff1f;
    display: flex;
    align-items: center;
    height: 6vh;
    padding: 3vh;
}

.hoursReportAttUpdHbox {
    padding: 2vh;
}

.hoursReportAttUpd {
    text-align: end;
}

.attUpdTableHbox {
    direction: rtl;
}

.attUpdTable .sapMListTblCell.sapMTblCellFocusable {
    text-align: right !important;
}