@import "homeApp.css";
@import url("MobileStyle.css");

/* Rubik Light */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Rubik Light Italic */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Rubik Regular */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Rubik Italic (Regular Italic) */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Rubik Medium */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Rubik Medium Italic */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Rubik Bold */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Rubik Bold Italic */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Rubik Black */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Rubik Black Italic */
@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


/* @import "certificates.css";
@import "attendanceupdate.css";
@import "actionsPopup.css"; */
